@{
    string isLoggedIn = Context.Session.GetString("isLoggedIn") ?? "False";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KE03_INTDEV_SE_1_Base.styles.css" asp-append-version="true" />
</head>
<body>
    @if (isLoggedIn == "True")
    {
        <header>
            <nav class="navbar navbar-expand-sm navbar-dark bg-darkblue border-bottom shadow-sm px-3">

                <div class="container-fluid">
                    <ul class="navbar-nav flex-row">
                        <li class="nav-item me-4">
                            <a class="nav-link @((ViewData["Title"]?.ToString() == "HomePage" ? "active" : ""))" asp-area="" asp-page="/HomePage">Home</a>
                        </li>
                        <li class="nav-item me-4">
                            <a class="nav-link @((ViewData["Title"]?.ToString() == "Products" ? "active" : ""))" asp-area="" asp-page="/Products">Products</a>
                        </li>
                        <li class="nav-item me-4">
                            <a class="nav-link @((ViewData["Title"]?.ToString() == "Order History" ? "active" : ""))" asp-area="" asp-page="/OrderHistory">Order History</a>
                        </li>
                        <li class="nav-item me-4">
                            <a class="nav-link @((ViewData["Title"]?.ToString() == "Privacy" ? "active" : ""))" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link @((ViewData["Title"]?.ToString() == "Account" ? "active" : ""))" asp-area="" asp-page="/Account">Account</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    }

    <div class="container mt-4 mb-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
