@page
@model IndexModel
@{
    ViewData["Title"] = "Klant Bestel Applicatie";
}

<!-- Main html file -->
<body>
    @if (Model.SelectedCustomer != null)
    {
        <p>Hello, @Model.SelectedCustomer.Name!</p>
        <p>Address: @Model.SelectedCustomer.Address</p>
    }
    else
    {
        <p>No customer selected. <a href="/Privacy">Select one here</a>.</p>
    }
    <br />
    <!-- Text boven tabel met info -->
    <div style="display: flex; width: 100%;">
        <h4 id="leftText" style="flex: 1;">Product</h4>
        <h4 id="middleText" style="flex: 1;">Beschrijving</h4>
        <h4 id="rightText" style="flex: 1;">Prijs</h4>
    </div>

    <!-- Productenlijst -->
    <div class="productList">
        <!-- Product div dat dynamisch wordt toegevoegd met het aantal producten -->
        <div class="producten">
            @for (int i = 0; i < Model.productList.Count(); i++)
            {
                <li class="product">
                    @Model.productList[i]
                    <form method="post">
                        <input type="hidden" name="productName" value="@Model.productList[i]" />
                        <input type="hidden" name="prijs" value="@Model.prijsLijst[i]" />
                        <button type="submit" name="action" value="addProduct">Toevoegen</button>
                        <button type="submit" name="action" value="removeProduct">Verwijderen</button>
                        <div class="beschrijving">@Model.beschrijvingLijst[i]</div>
                        <div class="prijs">€@Model.prijsLijst[i]</div>
                    </form>
                </li>
                <br/>
            }
        </div>
    </div>

    <!-- Knoppen onder aan de pagina -->
    <div class="buttons">
        <form method="post">
            <input type="hidden" name="action" value="checkout" class="checkout" />
            <button type="submit">Doorgaan naar checkout</button>
        </form>

        <form method="post">
            <input type="hidden" name="action" value="orderHistory" />
            <button type="submit">Bekijk orderhistorie</button>
        </form>
    </div>

    <!-- showCart bool om te bepalen of de winkelwagen zichtbaar moet zijn of niet -->
    @{
        bool showCart = Model.Products.Count() > 0;
    }
    
    <br>
    <br>
    <br>
    <!-- Winkelwagen -->
    @if (showCart)
    {
        <div class="cart">
            <h2>Winkelwagentje</h2>
            <p>Producten in winkelwagen: @Model.Products.Count()</p>
            <ul>
                @foreach (var product in Model.Products)
                {
                    <li>@product.Name</li>
                }
            </ul>
            <br>
            <br>

            @if (Model.confirmOrderbtn)
            {
                <form method="post">
                    <input type="hidden" name="action" value="checkoutConfirm" />
                    <button type="submit">Bevestig bestelling</button>
                </form>
            }
            <br>
            <br>
        </div>
    }

    <br>

    <!-- Orderhistorie -->
    @if (Model.showOrderHistory)
    {
        <div class="orderHistory">
            <h2>Orderhistorie</h2>
                <ul>
                    @foreach (var order in Model.orderHistory)
                    {
                        <li>@order</li>

                    }
                </ul>
        </div>
    }

    <br>
	<br>
	<br>

    <script src='app.js'></script>
</body>